div.yearToggle,
div.makeToggle,
div.modelToggle,
div.bodyToggle,
div.extToggle,
div.intToggle,
div.intColorToggle,
div.extColorToggle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

span.toggleTitle {
  font-size: 17px;
  color: #5e5e5e;
}

div.yearContent,
div.makeContent,
div.modelContent,
div.bodyContent,
div.extContent,
div.intContent,
div.intColorContent,
div.extColorContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid rgba(94 94 94 / 20%);
  padding: 10px;
}

.MuiFormControlLabel-label {
  font-size: 17px !important;
  font-family: Poppins, sans-serif !important;
  line-height: 0 !important;
}

.MuiIconButton-root {
  padding: 3px !important;
}

.ant-radio-group {
  flex-direction: column !important;
}

.ant-radio {
  margin-right: 10px !important;
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
}

@media only screen and (min-width: 481px) and (max-width: 576px) {
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
  div.yearToggle,
  div.makeToggle,
  div.modelToggle,
  div.bodyToggle,
  div.extToggle,
  div.intToggle,
  div.intColorToggle,
  div.extColorToggle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  span.toggleTitle {
    font-size: 25px;
    color: #5e5e5e;
    font-weight: bold;
  }

  div.yearContent,
  div.makeContent,
  div.modelContent,
  div.bodyContent,
  div.extContent,
  div.intContent,
  div.intColorContent,
  div.extColorContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid rgba(94 94 94 / 20%);
    padding: 3px 0;
    box-sizing: border-box;
  }
}
